<button id="shrinkDropdownMenu" data-dropdown-toggle="dropdownShrinkMenu" data-dropdown-trigger="hover"
    class="btn-third flex items-center" type="button">
    Menu
    <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4" />
    </svg>
</button>

<div id="dropdownShrinkMenu"
    class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownShrinkMenuHoverButton">
        <li>
            <a href="profile" class="block px-4 py-2 hover:bg-gray-100">
                Inicio
            </a>
        </li>
        <li>
            <button id="servicesDropdownButton" data-dropdown-toggle="servicesMenuShrink" data-dropdown-trigger="hover"
                data-dropdown-placement="right-start" type="button"
                class="flex items-center justify-between w-full px-4 py-2 hover:bg-gray-100">
                Servicios
                <svg class="w-2.5 h-2.5 ms-3 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m1 9 4-4-4-4" />
                </svg>
            </button>
            <app-services-menu menuId="servicesMenuShrink"></app-services-menu>
        </li>
        <li>
            <a href="profile" class="block px-4 py-2 hover:bg-gray-100">
                Ayuda
            </a>
        </li>
    </ul>
</div>