<div class="bg-white w-full mb-4 pb-2 rounded-lg">
    <div class="bg-blue-100 rounded-lg rounded-b-none py-2">
        <h2 class="pl-3 text-lg font-semibold">Acceder a datos mediante identificador</h2>
    </div>
    <hr class="border border-grey">
    <p class="pl-3 my-2">Accede al panel de datos en tiempo real de la maquinaria mediante su identificador</p>
    <form class="flex flex-col">
        <input id="data" type="email" formControlName="username" placeholder="Identificador"
            class="mx-3 mb-2 rounded rounded-b-none border-2 border-b-gray-400 p-2">

        <button type="submit" class="btn-third w-max ml-2">
            Buscar
        </button>
    </form>
</div>