<div class="flex-col bg-white rounded-lg md:grid md:grid-cols-4 px-4 py-3 mb-2">
    <div class="flex-col place-items-center">
        <h3 class="mb-2 text-lg font-semibold">Identificador</h3>
        <p class="mb-2">{{id}}</p>
    </div>
    <div class="flex-col place-items-center">
        <h3 class="mb-2 text-lg font-semibold">Maquina</h3>
        <p class="mb-2">{{machine}}</p>
    </div>
    <div class="flex-col place-items-center">
        <h3 class="mb-2 text-lg font-semibold">Area</h3>
        <p class="mb-2">{{area}}</p>
    </div>
    <div class="flex justify-center items-center">
        <a href="#" class="btn btn-neutral h-max">Detalles</a>
    </div>
</div>