<section class="flex flex-col h-screen">
    <app-header></app-header>
    <div class="hidden sm:block flex-grow">
        <div class="flex h-full items-center">
            <div class="w-1/2 m-6">
                <img class="h-96 mx-auto" src="assets/users.svg">
            </div>
            <div class="w-1/2 m-6">
                <app-login-form></app-login-form>
            </div>
        </div>
    </div>
    <div class="sm:hidden flex flex-grow items-center">
        <div class="w-full m-10">
            <app-login-form></app-login-form>
        </div>
    </div>
</section>