.row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.column {
    flex: 1;
    text-align: center;
    width: auto;
    max-width: 500px;
    margin: 0 auto;
}

.login-image {
    height: 600px;
}