<section class="bg-white rounded-lg m-6">
    <img src="assets/bimbo-logo.png"
        class="w-full h-52 object-cover object-center rounded-lg rounded-b-none border border-b-gray-400">
    <h1 class="m-2 text-lg font-bold tracking-wide">Bienvenido</h1>
    <app-data-template title="Empresa" data="Empresa 1"></app-data-template>
    <app-data-template title="Usuario" data="John Doe"></app-data-template>
    <app-data-template title="Correo electrónico" data="JohnDoe@gmail.com"></app-data-template>
    <app-data-template title="Teléfono de contacto" data="+52 6145678909"></app-data-template>
    <a href="#" class="btn btn-danger m-2 inline-block">Cerrar sesión</a>
</section>