.profile-card {
    background-color: #AAC0AA;
    margin: 10px;
    max-width: 300px;
}

.profile-image {
    margin: 5px;
    max-width: 300px;
    max-height: 250px;
    border-radius: 5%;
}

.list-item {
    color: black;
}

.list-title {
    color: black;
}

.profile-button {
    margin: 0 10px 10px 10px;
}