<mat-card class="profile-card" appearance="outlined">
    <img class="profile-image" mat-card-image src="assets/bimbo-logo.png" alt="Company logo">
    <mat-list>
        <mat-list-item>
            <span class="list-title" matListItemTitle>Empresa</span>
            <span class="list-item">Empresa 1</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="list-title" matListItemTitle>Usuario</span>
            <span class="list-item">John Doe</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="list-title" matListItemTitle>Correo electrónico</span>
            <span class="list-item">JohnDoe-gmail.com</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="list-title" matListItemTitle>Teléfono de contacto</span>
            <span class="list-item">+52 614 192 0980</span>
        </mat-list-item>
    </mat-list>
    <button mat-raised-button class="profile-button">Actualizar datos</button>
</mat-card>